export(
	importRTs,
	batch.fillSubjects,
	markOutliers,
	markNa,
	markWarmUp,
	markPostError,
	checkSubjects,
	cormat.test,
	summarize.subjects,
	aggregate.rtdata,
	pc,
	summary.rtdata,
	quantile.rtdata,
	npq,
	bin,
	concatenate.rtdata,
	within,
	sat,
	plot.sat
)

exportPattern("^[\\.]")

exportClasses(
	version,
	subjects,
	outlier,
	subjectoutlier,
	rtdata,
	rtsummary,
	fastdm,
	fdmoutput
)

exportMethods(
	show,
	plot,
	names,
	aggregate,
	summary
)

import(
	methods,
	graphics
)
