export(
	importRTs,
	batch.fillSubjects,
	markOutliers,
	markNA,
	markWarmUp,
	markPostError,
	markCondition,
	checkSubjects,
	markSubjects,
	showOutliers,
	ewma,
	ewma.control,
	overall,
	summarize.subjects,
	summarize,
	aggregate.rtdata,
	pc,
	summary.rtdata,
	quantile.rtdata,
	npq,
	bin,
	concatenate.rtdata,
	plot.rtdata,
	within.condition,
	sat,
	plot.sat,
	wpr,
	export.rt,
	fitDiffusionModel,
	doexp,
	makeconditionarray,
	getdepends,
	getestimates,
	getsamples,
	makefitarray,
	summarize.diffmod,
	simulatesamples
)

exportPattern("^[\\.]")

exportClasses(
	version,
	subjects,
	outlier,
	subjectoutlier,
	rtdata,
	rtsummary,
	fastdm,
	fdmoutput
)

exportMethods(
	show,
	names
)

import(
	methods,
	graphics
)
